.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #f30300;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}

.title,
.description {
  color: #2c2c2c;
  margin-bottom: 10px;
}
